body {
background-image: url(img/Hills.png);

background-position: 50% 1%;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}

.bear{
    display: block; margin-left:800px; margin-right: auto; width: 50%;
}






